*{
    margin: 0;
    padding:  0 ;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  
}
.container{
    width: 100%;
    height: 100%;  
}
section{
    max-width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-top: 5px solid rgba(196, 195, 195, 0.808);
}
.apresentacao{
    background-image: url(img/programming_code_screen_207262_2560x1440.jpg);
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    font-size: 2em;
    color: white;
    border-top: none;
}

.apresentacao p{
    font-size: 1em;
    font-weight: 400;
}
.sobre{
    background-color: #ffffff;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.sobre img{
    width: 150px;
}

.conteudo-sobre{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.habilidades{
    background-color: #033860;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
.logo{
    width: 200px;
    margin-right: 40px;
}
.habilidades .lista-habilidades{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.habilidades .lista-habilidades img{
   width: 30px;
   margin: 10px;
}

.habilidades .lista-habilidades h1{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 70px;
}
.habilidades .lista-habilidades h3{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 90px;
}
.habilidades .lista-habilidades li{
    width: 30px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size:0.9em;
    font-weight: 500;
}

.projetos{
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.projetos h1{
    text0a
    margin-bottom: 30px;
}
.conteudo-projetos{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.conteudo-projetos a{
    width: 100%;
    background-color: yellow;
    border-radius: 0 0 5px 5px ;
}

.div-projetos{
    width: 150px;
    background-color: rgb(175, 175, 175);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px ;
    font-size: 1em;  
    
}
.div-projetos:hover{
    border: 3px solid white;
}

.div-projetos img{
    padding-top:3px ;
    width:145px;
    height: 147px;
    border-radius: 5px 5px 0 0 ;
    
}

.contato{
    background-color: #087CA7;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;  
}
.contato img{
    width: 150px;
}
.lista-contato{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.lista-contato li{
    padding: 5px;
  
}
footer{
    width: 100%;
    background-color: #416165;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

@media screen and (min-width: 500px) {
  
    .projetos{
        background-color: blueviolet;
    }
    .div img{
        width: 150px;
        height: 150px;
        border-radius: 5px 5px 0 0 ;
    }
}
